<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="navbar">
        <!-- <div class="container"> -->
            <a class="navbar-brand" href="/" >
                <img src="../static/small_iop_white.png" style="border-radius: 10px;" alt="Bootstrap" width="90" height="50">
            </a>
            <nav>
                <ul>
                    <a href="/templates/events.html">Events</a>
                    <a href="/templates/student_programs.html">Student Programs</a>
                    <a href="/templates/student_task_force.html">Student Task Force</a>
                    <a href="/templates/partnerships.html">Partnerships</a>
                    <a href="/templates/research.html">Research</a>
                    <a href="/templates/donation.html">Donate</a>
                    <a href="/templates/people.html">People</a>
                </ul>
            </nav>
        <!-- </div> -->
      </div>
    <div id="padding-div">
        <h1 id="event-title">Event Title</h1>
        <div id="event-details">
            <p><strong>Start:</strong> <span id="event-start"></span></p>
            <p><strong>End:</strong> <span id="event-end"></span></p>
            <p><strong>Location:</strong> <span id="event-location"></span></p>
            <p id="event-description"></p>
        </div>
    </div>

    <script src="../js/event.js"></script>
</body>
<script>
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
document.getElementById("navbar").style.padding = "5px";
document.getElementById("homepage-A").style.fontSize = "20px";
} else {
document.getElementById("navbar").style.padding = "10px";
document.getElementById("homepage-A").style.fontSize = "25px";
}
}
</script>
</html>