<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partnerships</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="navbar">
        <!-- <div class="container"> -->
            <a class="navbar-brand" href="/" >
                <img src="../static/small_iop_white.png" style="border-radius: 10px;" alt="Bootstrap" width="90" height="50">
            </a>
            <nav>
                <ul>
                    <a href="/templates/events.html">Events</a>
                    <a href="/templates/student_programs.html">Student Programs</a>
                    <a href="/templates/student_task_force.html">Student Task Force</a>
                    <a href="/templates/partnerships.html">Partnerships</a>
                    <a href="/templates/research.html">Research</a>
                    <a href="/templates/donation.html">Donate</a>
                    <a href="/templates/people.html">People</a>
                </ul>
            </nav>
        <!-- </div> -->
      </div>

    <div class="partner-container">
        <div class="main-content">
            <h1>Partnerships</h1>
            <section class="scholar">
                <h2>Pablo J. Boczkowski</h2>
                <p><strong>Affiliation:</strong> Northwestern University</p>
                <p><strong>Field:</strong> Communication Studies</p>
                <p><strong>Email:</strong> <a href="mailto:pboczkowski@ias.edu">pboczkowski@ias.edu</a></p>
                <p>Pablo J. Boczkowski is Hamad Bin Khalifa Al-Thani Professor at Northwestern University. He is the author of seven books, five edited volumes, and over sixty journal articles. He is currently working on a book tentatively entitled Digital Freud: Platforms, Psychotherapy and Personhood in Contemporary Society.</p>
            </section>
            <section class="scholar">
                <h2>Lindsey Cameron</h2>
                <p><strong>Affiliation:</strong> University of Pennsylvania</p>
                <p><strong>Field:</strong> Management, Organizational Theory, Labor</p>
                <p><strong>Email:</strong> <a href="mailto:lcameron@ias.edu">lcameron@ias.edu</a></p>
                <p>Lindsey Cameron is interested in algorithmic management, the gig economy, and the future of work. While at IAS she will be working on several projects in this area, including a multi-national comparative ethnography book project tentatively titled, The Good Bad Job: How Algorithmic Management Reconfigures Work.</p>
            </section>
            <!-- Repeat for other scholars -->
        </div>
    </div>


</body>
<script>
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
document.getElementById("navbar").style.padding = "5px";
document.getElementById("homepage-A").style.fontSize = "20px";
} else {
document.getElementById("navbar").style.padding = "10px";
document.getElementById("homepage-A").style.fontSize = "25px";
}
}
</script>
</html>