<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Detail Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body  >
    <header>
        <div class="container">
            <a class="navbar-brand" href="/" >
                <img src="../static/small_iop_white.png" style="border-radius: 10px;" alt="Bootstrap" width="90" height="50">
            </a>
            <nav>
                <ul>
                    <li><b><a href="/templates/events.html">Events</a></b></li>
                    <li><a href="/templates/student_programs.html">Student Programs</a></li>
                    <li><a href="/templates/student_task_force.html">Student Task Force</a></li>
                    <li><a href="/templates/partnerships.html">Partnerships</a></li>
                    <li><a href="/templates/research.html">Research</a></li>
                    <li><a href="/templates/donation.html">Donate</a></li>
                    <li><a href="/templates/people.html">People</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="publication-container">
        <div class="book-details">
            <div class="book-image">
                <img id="bookCover" src="https://placehold.co/700" alt="Book Cover">
            </div>
            <div class="book-info">
                <h1 id="bookTitle">Book Title</h1>
                <div class="author" id="bookAuthor">Author Name</div>
                <div class="published-date" id="publishedDate">Published Date</div>
                <p class="description" id="bookDescription">Book description goes here...</p>
                <a href="#" class="cta-button" id="ctaButton">Read PDF</a>
            </div>
        </div>
    </div>

    <script src="../js/publication.js"></script>
</body>

</html>
