<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication Details</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h2><b><a id="homepage-A" href="/">GWU Institute of Politics</a></b></h2>
            <nav>
                <ul>
                    <li><b><a href="events.html">Events</a></b></li>
                    <li><a href="student_programs.html">Student Programs</a></li>
                    <li><a href="student_task_force.html">Student Task Force</a></li>
                    <li><a href="partnerships.html">Partnerships</a></li>
                    <li><a href="research.html">Research</a></li>
                    <li><a href="donation.html">Donate</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1 id="publication-title">Publication Title</h1>
    <div id="publication-details">
        <p id="publication-description"></p>
        <p><strong>Author:</strong> <span id="publication-author"></span></p>
        <p><strong>Date:</strong> <span id="publication-published_date"></span></p>
        <p id="publication-image"></p>
        <p id="publication-link"></p>
        <!-- need publication image with link_url as link -->
    </div>

    <script src="../js/publication.js"></script>
</body>
</html>