<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute of Politics at GWU</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script>
        
const userAction = async () => {
  const response = await fetch('https://dummy.restapiexample.com/api/v1/employees', {
    method: 'POST',
    body: myBody, // string or object
    headers: {
      'Content-Type': 'application/json'
    }
  });
  const myJson = await response.json(); //extract JSON from the http response
  // do something with myJson
  console.log(myJson)
}
    </script>
</head>
<body>
    <div id="navbar">
        <!-- <div class="container"> -->
            <a class="navbar-brand" href="/" >
                <img src="../static/small_iop_white.png" style="border-radius: 10px;" alt="Bootstrap" width="90" height="50">
            </a>
            <nav>
                <ul>
                    <a href="/templates/events.html">Events</a>
                    <a href="/templates/student_programs.html">Student Programs</a>
                    <a href="/templates/student_task_force.html">Student Task Force</a>
                    <a href="/templates/partnerships.html">Partnerships</a>
                    <a href="/templates/research.html">Research</a>
                    <a href="/templates/donation.html">Donate</a>
                    <a href="/templates/people.html">People</a>
                </ul>
            </nav>
        <!-- </div> -->
      </div>
        <div id="top">
            <input type="text" class="searchfield" />
            <div class="search"></div>
        </div>
    
        <main>
            <div id="publications-container" class="book-gallery">
                <!-- Repeat .book-item for more book placeholders 
                <div class="book-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/150" alt="Book Cover">
                        <p>Book Title</p>
                    </a>
                </div>
                -->
                
            </div>
        </main>
    <!-- <footer>
        <div class="container">
            <p>&copy; 2024 Institute of Politics. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="#privacy">Privacy Statement</a></li>
                    <li><a href="#accessibility">Web Accessibility</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </footer> -->
    <script src="../js/publications.js"></script>
    <script>
        window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "5px";
    document.getElementById("homepage-A").style.fontSize = "20px";
} else {
    document.getElementById("navbar").style.padding = "10px";
    document.getElementById("homepage-A").style.fontSize = "25px";
}
}
</script>
</body>
</html>